*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.navbar a{
    padding: 20px;
    font-family: monospace;
    text-decoration: none;
    color: azure;
    opacity: 1 !important;
    position: relative;
}
.navbar a::before{
    content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: #BF52E1;
  bottom: 0;
  left: 0%;
  transform-origin: center;
  transform: scaleX(0);
  transition: transform .3s ease-in-out;
}

.navbar a:hover{
    color: #BF52E1;
}
.navbar a:hover::before{
    transform-origin: center;
    transform: scaleX(1);
}
.current{
    color:#BF52E1 !important;
}

.navbar{
    position: absolute;
    top: 0;
    width: 100%;
    height:50px;
    text-align: right;
    font-size: 30px;
    padding-left: 5px;
    background-color: rgba(15, 17, 17, 0.5);
    display: block;
    padding-top: 5px;
    
}
.navbar img, .small img{
    position: absolute;
    width: 50px;
    left: 2%
}

.pusbal{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    margin-top: 15px;
    padding: 0 20px;
    height: 80%;
}
.pusbal div{
    background-color:rgba(15, 17, 17, 0.5) ;
    border-radius: 15px;
}
.afk{
    grid-row-start: 1;
    grid-row-end: 3;
}

.runs{
    grid-row-start: 1;
    grid-row-end: 3;
}

#news{
    grid-column: span 2;
    grid-row-start: 1;
    grid-row-end: 3;
}

.something{
    grid-column-start:5 ;
}

body {
    overflow: hidden;
    font-family: 'lato';
    background-color: #000000 ;
    height: 100vh;
}

h1 {
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-transform: uppercase;
    text-align: center;
    padding-top: 10px;
    text-shadow: 0 0 10 px rgba(red, green, blue, alpha);
    z-index: 9999;
}

.first-halls{
    font-size: 65px;
    padding-top: 65px;
    padding-bottom: 5px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#bg {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
}
.small{
    display: none;
}
@media only screen and (max-width: 600px){
    .navbar{
        display: none;
    }

    .small{
        display: inline-block;
        position: absolute;
        top: 0;
        width: 100%;
        height:50px;
        text-align: right;
        padding-left: 5px;
        background-color: rgba(15, 17, 17, 0.5);
        padding-top: 5px;
    }
    .dbut{
        background-color: #22012c;
        color: white;
        padding: 13px;
        width: 120px;
        border: none;
        position: relative;
    }

    
    .drop-content{
        display: none;
        position: absolute;
        background-color: #3a014b;
        min-width: 120px;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        z-index: 1;
        border-radius:1vw ;
        
        
    }
    .drop-content a{
        color: white;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        
        
    }
    .drop-content a:hover{
        background-color: #7f14a0;
    }
    .show{
        display: block;
        right: 0;
        position: absolute;
        text-align: center;
        transform: translateY(0px)
        
    }
    .first-halls{
        font-size: 50px !important;
    }
    p{
        padding-left: 5% !important;
        padding-right: 5% !important;
    }
}
p{
    color: white;
}
.discord{
    position: absolute;
}